In [2]:
import torch
import pandas as pd

In [6]:
#load the combos and index them based on the predictions
combo_df = pd.read_csv('data/ParPgb/all_combos.csv')
indices = torch.load('results/ParPgb_production/round1/DNN_ENSEMBLE-DO-0-RBF-TS-[30, 1]_1indices.pt') #replace this with any other output that ends in indices.pt
selected = combo_df.iloc[indices]
selected

         Combo
756239   FRMNY
2401899  SAFRY
856999   GIDLY
2682219  TSGMY
2652259  TNMPY
...        ...
705039   FKDNY
641039   FADNY
2678639  TRTNY
753859   FRFPY
649799   FCFLY

[306 rows x 1 columns]

In [7]:
#load original training data
training_df = pd.read_csv('data/ParPgb/fitness_round1_training.csv')
training_df

,Combo,NormIso1,NormIso2,PlateNormIso1,PlateNormIso2,Diff,round,yield1,yield2
0,FRMNY,7.020661,1.171488,4.586441,0.765307,3.821134,initial,63.689822,10.023846
1,SAFRY,7.757700,1.977413,5.067932,1.291800,3.776133,initial,70.447102,17.547888
2,GIDLY,4.960080,0.854291,3.449043,0.594040,2.855002,initial,44.798116,7.062533
3,TSGMY,6.152918,2.136821,4.019563,1.395937,2.623626,initial,55.734223,19.036107
4,TNMPY,3.694215,0.758264,3.260248,0.669190,2.591058,initial,33.192484,6.166034
...,...,...,...,...,...,...,...,...,...
211,LQSGA,0.582278,5.748945,0.513877,5.073604,-4.559727,initial,4.661804,52.758559
212,QYKGD,0.242081,5.511312,0.213644,4.863887,-4.650243,initial,1.542829,50.540041
213,PCLTD,0.173913,6.942688,0.120283,4.801761,-4.681477,initial,0.917851,63.903228
214,NNVER,0.208251,5.593320,0.183788,4.936261,-4.752473,initial,1.232670,51.305660
215,TSGRE,0.218367,7.134694,0.151029,4.934558,-4.783529,initial,1.325414,65.695779

In [9]:
#combine them together
combined = pd.merge(selected, training_df, on='Combo', how='left')
combined
#replace round with round1 if NaN
combined['round'] = combined['round'].fillna('round 1')
combined.to_csv('data/ParPgb/predicted_variants.csv', index=False)
combined

,Combo,NormIso1,NormIso2,PlateNormIso1,PlateNormIso2,Diff,round,yield1,yield2
0,FRMNY,7.020661,1.171488,4.586441,0.765307,3.821134,initial,63.689822,10.023846
1,SAFRY,7.757700,1.977413,5.067932,1.291800,3.776133,initial,70.447102,17.547888
2,GIDLY,4.960080,0.854291,3.449043,0.594040,2.855002,initial,44.798116,7.062533
3,TSGMY,6.152918,2.136821,4.019563,1.395937,2.623626,initial,55.734223,19.036107
4,TNMPY,3.694215,0.758264,3.260248,0.669190,2.591058,initial,33.192484,6.166034
...,...,...,...,...,...,...,...,...,...
301,FKDNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
302,FADNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
303,TRTNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
304,FRFPY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
305,FCFLY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN

In [10]:
#view only the predicted variants (there are 90 of them)
combined[combined['round'] == 'round 1']

,Combo,NormIso1,NormIso2,PlateNormIso1,PlateNormIso2,Diff,round,yield1,yield2
216,FKTNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
217,FSFNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
218,FAFNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
219,FIFNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
220,FADYY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
...,...,...,...,...,...,...,...,...,...
301,FKDNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
302,FADNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
303,TRTNY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
304,FRFPY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN
305,FCFLY,NaN,NaN,NaN,NaN,NaN,round 1,NaN,NaN